<footer class="footer mt-5">
    <div class="container-fluid">
        <div class="row mgl-0 mgr-0">
            <div class="col-md-4 text-center m-auto">
                The Harmony
                <!-- <p class="font-weight-normal pfnt">CREXIN is India's leading Material Handling and Construction
                    Equipment
                    manufacturing company with a majority market share in Mobile Cranes and Tower Cranes Segment.</p> -->
            </div>

            <div class="col-md-4 my-2 quick-lines">
                <div>
                    <p class="text-center">QUICK LINKS</p>
                    <ul class="list-unstyled my-3">
                        <li class="my-2 fs-15 cursor-pointer text-center text-white">link</li>
                        <li class="my-2 fs-15 cursor-pointer text-center text-white">link</li>
                        <li class="my-2 fs-15 cursor-pointer text-center text-white">link</li>
                        <li class="my-2 fs-15 cursor-pointer text-center text-white">link</li>
                        <li class="my-2 fs-15 cursor-pointer text-center text-white">link</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="d-inline-flex">Follow us on :
                    <ul class="list-unstyled d-inline-flex">
                        <li class="mx-3">
                            <a href="https://www.facebook.com/"> <i class="fa fa-facebook fs-20 text-white"></i>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="https://twitter.com/LOGIN"> <i class="fa fa-twitter fs-20 text-white"></i>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="https://www.instagram.com/accounts/login/"> <i
                                    class="fa fa-instagram fs-20 text-white"></i>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="https://www.youtube.com/"> <i class="fa fa-youtube-play fs-20 text-white"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="d-inline-flex" style="width: 85%;">
                    <input type="text" class="input-group news-email mr-2" placeholder="Enter Email for News Letter">
                    <button type="button" class="btn btn-news-submt">Submit</button>
                </div> -->
                <div class="input-group">
                    <input type="email" class="form-control font-weight-normal"
                        placeholder="Enter Email for News Letter" aria-label="Enter Email for News Letter"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn font-weight-normal btn-warning" type="button">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div></footer>
