<div class="jumbotron jumbotron-fluid background">
    
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h3>Fantasy</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-3 mb-3">
                <div class="card bg-transparent border-0">
                    <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                  </div>
            </div>
            <div class="col-3 mb-3">
                <div class="card bg-transparent border-0">
                    <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                  </div>
            </div>
            <div class="col-3 mb-3">
                <div class="card bg-transparent border-0">
                    <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                  </div>
            </div>
            <div class="col-3 mb-3">
                <div class="card bg-transparent border-0">
                    <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                  </div>
            </div>
            <div class="col-3 mb-3">
                <div class="card bg-transparent border-0">
                    <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                  </div>
            </div>
            <div class="col-3 mb-3">
                <div class="card bg-transparent border-0">
                    <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                  </div>
            </div>
            <div class="col-3 mb-3">
                <div class="card bg-transparent border-0">
                    <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                  </div>
            </div>
            <div class="col-3 mb-3">
                <div class="card bg-transparent border-0">
                    <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                  </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <a class="float-right">view more</a>
            </div>
        </div>
    </div>
</section>