<div class="jumbotron jumbotron-fluid background">
    
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li class="py-2 text-center active hover border-bottom">Fantasy</li>
                    <li class="py-2 text-center hover border-bottom">Indian History</li>
                    <li class="py-2 text-center hover border-bottom">Mythology</li>
                    <li class="py-2 text-center hover border-bottom">Dystopian</li>
                    <li class="py-2 text-center hover border-bottom">Crime and Thriller</li>
                    <li class="py-2 text-center hover border-bottom">Horror</li>
                    <li class="py-2 text-center hover border-bottom">Suspense</li>
                    <li class="py-2 text-center hover border-bottom">Short Stories</li>
                    <li class="py-2 text-center hover border-bottom">Crime and Thriller</li>
                    <li class="py-2 text-center hover border-bottom">Horror</li>
                    <li class="py-2 text-center hover border-bottom">Suspense</li>
                    <li class="py-2 text-center hover border-bottom">Short Stories</li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row mb-3">
                    <div class="col-md-12 d-flex justify-content-center border-bottom">
                        <h3>
                            Fantasy
                        </h3>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                      <div class="card bg-transparent border-0">
                        <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="card bg-transparent border-0">
                        <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="card bg-transparent border-0">
                        <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="card bg-transparent border-0">
                        <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <div class="card bg-transparent border-0">
                        <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="card bg-transparent border-0">
                        <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="card bg-transparent border-0">
                        <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="card bg-transparent border-0">
                        <img src="/assets/images/animalfarm.png"  class="card-img-top" alt="...">
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
